@model IEnumerable<Lab1.Publication>

@{
    ViewData["Title"] = "Публікації по видавництвам";
}

<h1>Публікації видавництва @ViewBag.PublishingName</h1>

<p>
    @Html.ActionLink("Додати нову публікацію", "Create","PublishingPublications", new { publishingId = @ViewBag.PublishingId}, new { style="text-decoration:none; color:#0ce7e7;"})
</p>
<table class="table">
    <thead>
        <tr style="font-size:120%; ">
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamePublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publishing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-size:120%; ">
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamePublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publishing.PublishingName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","PublishingPublications", new {id = @item.Id, publishingId = @ViewBag.PublishingId }, new { style="text-decoration:none; "}) |
                <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration:none;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
