@model IEnumerable<Lab1.Professor>

@{
    ViewData["Title"] = "Науковці за ступенем";
}

<h1>Науковці за ступенем @ViewBag.DegreeCollectionName</h1>

<p>
    @Html.ActionLink("Додати нового науковця", "Create", "Professors" ,new { degreeCollectionId = @ViewBag.DegreeCollectionId}, new { style="text-decoration:none; color:#0ce7e7;"})
    <!--<a asp-action="Create" asp-route-id="@ViewBag.DegreeCollectionId">Додати нового професора</a>-->
</p>
<table class="table">
    <thead>
        <tr style="font-size:120%; ">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWorking.Cathedra.CathedraName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWorking.Cathedra.Faculty.FacultyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWorking.DateOfStartWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWorking.DateOfEndWork)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="font-size:120%; ">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.DegreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWorking.Cathedra.CathedraName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWorking.Cathedra.Faculty.FacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWorking.DateOfStartWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWorking.DateOfEndWork)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit",  "Professors", new {id = @item.Id, degreeCollectionId = @ViewBag.DegreeCollectionId }, new { style="text-decoration:none; "}) |
                <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration:none;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
